# zegar 12MHz - z iCELink
set_io clk          D1

# wejscia (pmod1 i pmod3)
set_io x_pins[0]    C2 # stan_k_60_sek              [PMOD3]
set_io x_pins[1]    A1 # stan_k_5_sek               [PMOD1]
set_io x_pins[2]    E2 # sygnal zycia nanopi        [PMOD1]

# wyjscia (pmod1 i pmod2)
set_io y_pins[0]    B6 # rozladowywanie k 60 sek    [PMOD2]
set_io y_pins[1]    B1 # rozladowywanie k 5 sek     [PMOD1]
set_io y_pins[2]    C5 # odciecie zasilania nanopi  [PMOD2]

# wyjscia diagnostyczne (pmod3)
set_io debug_pins[0] B4 # sygnal zycia z UART       [PMOD3]
set_io debug_pins[1] C6 # stan kond 60s             [PMOD3]
set_io debug_pins[2] B5 # stan kond 5s              [PMOD3]
set_io debug_pins[3] E3 # rozladowywanie k 60s      [PMOD3]
set_io debug_pins[4] E1 # rozladowywanie k 5s       [PMOD3]
